html{background-image: url(../resources/banner_banca_en_linea.jpg);background-size: 100%;background-repeat:no-repeat ;}

body{background-image: url(../resources/banner_banca_en_linea.jpg);background-size: 100%;background-repeat:no-repeat ;}